@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --main-size: 20px;
  --container-size: 500px;
  --snake-color: #c54c4c;
  --point-color: #4bb84b;
}

body {
  flex-direction: column;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smothing: antialised !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: var(--container-size);
}

#score {
  width: 100%;
  text-align: left;
}

#container {
  width: var(--container-size);
  height: var(--container-size);
  background-color: #3a3a3a;
  position: relative;
  overflow: hidden;
}

.snake-part {
  background-color: var(--snake-color);
  width: var(--main-size);
  height: var(--main-size);
  border-radius: 0.2rem;
  position: absolute;
  left: 20%;
  top: 20%;
}

.point {
  width: var(--main-size);
  height: var(--main-size);
  position: absolute;
}

.point .point-content {
  border-radius: 0.2rem;
  background-color: var(--point-color);
  position: absolute;
  width: 10px;
  height: 10px;
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#pause,
#game-over {
  width: var(--container-size);
  height: var(--container-size);
  opacity: 0.5;
  z-index: 99;
  background-color: black;
  color: white;
  transform: translate(-50%, -52%);
}

#game-over {
  animation: 0.2s animation1 ease;
  animation-play-state: paused;
}

#pause {
  display: none;
}

.text-center {
  text-align: center;
}

#game-over a {
  color: red;
  cursor: pointer;
}

@keyframes animation1 {
  from {
    top: -100%;
  }
  to {
    top: 50%;
  }
}
